*vscode*
**/*.code-workspace
.idea/
*.pyc
*.doc
*.docx
*.xls
*.png
*.pdf
*.emlk
*.emv
*.emt
*.emw
*.eml
*.emu
*.ema
*.emx
*.emp
*.ems
*.db
*.dat
*.prj
*.mtbx
*.mlbk
*.cpg
*.dbf
*.qpj
*.shp
*.shx
*.gfsum
*.old
*.log
*.log.*-*-*
usemacro_*
STRAT_*
config
/*.json
Network_builds/*
Worksheets/*
Media/*
Database/builddb
Database/core_interface_log
Database/errors
Database/fort.18
Database/emmebank
Database/sijopankki*/*
Database/verkot_*/*
Database/reports
Database/usemacro_*
Database/STRAT*/*
Database/emlocki
Database/aja_*.mac
Database/d2*.in
Logbook/project.mlbk-shm
Logbook/project.mlbk-wal
Scripts/.pytest_cache
Scripts/tests/.pytest_cache
Scripts/.env
Scripts/tests/test_data/Results/*
!Scripts/tests/test_data/Results/STRATS_s19/config
!Scripts/tests/test_data/Results/test/Matrices/uusimaa/cost*
!Scripts/tests/test_data/Results/test/Matrices/uusimaa/dist*
!Scripts/tests/test_data/Results/test/Matrices/uusimaa/time*
!Scripts/tests/test_data/Results/test/Matrices/uusimaa/inv_time*
!Scripts/tests/test_data/Results/test/Matrices/uusimaa/beeline*
!Scripts/tests/test_data/Results/test/Matrices/koko_suomi/cost*
!Scripts/tests/test_data/Results/test/Matrices/koko_suomi/dist*
!Scripts/tests/test_data/Results/test/Matrices/koko_suomi/time*
!Scripts/tests/test_data/Results/test/Matrices/koko_suomi/inv_time*
!Scripts/tests/test_data/Results/test/Matrices/koko_suomi/car_time*
!Scripts/tests/test_data/Results/test/Matrices/koko_suomi/transfer_time*
!Scripts/tests/test_data/Results/test/Matrices/koko_suomi/park_cost*
!Scripts/tests/test_data/Results/test/Matrices/koko_suomi/beeline*
project.mtbx-shm
project.mtbx-wal
